.container {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  overflow: auto;
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  border-radius: 0.5vw
}

.container.night {
  background: rgba(0, 0, 0, 0.75);
}