.todayContainer {
  background: rgba(255, 255, 255, 0.8);
  height: 40vh;
  border-radius: 0.5vw;
}

.location {
  margin-left: 2vw;
  font-size: 5vw;
}

.todayContainer.night {
  background: rgba(0, 0, 0, 0.8);
}